:root {
    --board-size: 640px;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, Arial;
    transition: all 0.1s ease;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    background-color: rgb(7, 0, 39);
}

h1 {
    margin-top: 3vh;
    font-size: 5vh;
    color: white;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: var(--board-size);
    width: var(--board-size);
    background-color: rgb(255, 255, 255);
}

.options, .colors {
    display: flex;
    width: var(--board-size);
    justify-content: center;
    gap: 1vh;
}

.options button, .colors button {
    height: 3.5vh;
    width: 100%;
    font-size: 2vh;
    border-style: hidden;
    border-radius: 0.5rem;
}

@media (width <= 650px), (height <= 650px) {
    :root {
        --board-size: 512px;
    }
}

@media (width <= 522px), (height <= 522px) {
    :root {
        --board-size: 448px;
    }
    .colors button {
        width: 40px;
        font-size: 0;
    }
}
@media (width <= 450px) {
    :root {
        --board-size: 320px;
    }
    .colors button {
        width: 30px;
        font-size: 0;
    }
    h1 {
        text-align: center;
    }
}
@media (width <= 330px) {
    :root {
        --board-size: 192px;
    }
    .colors button {
        width: 20px;
        font-size: 0;
    }
    h1 {
        text-align: center;
    }
}

button:hover {
    cursor: pointer;
}

button:active, .hl {
    cursor: pointer;
}

.options button:hover {
    transform: scale(0.9);
}

.options button:active, .hl {
    transform: scale(0.8);
}

.colors button:hover {
    transform: scale(1.1);
}
.colors button:active, .hl {
    transform: scale(1.2);
}

.options button {
    background-color: azure
}
#draw {
    font-weight: 900;
}

#r {
    background-color: red;
}

#g {
    background-color: rgb(0, 255, 0);
}

#b {
    background-color: rgb(0, 0, 255);
    color: white;
}

#y {
    background-color: rgb(255, 255, 0);
}

#bl {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#w {
    background-color: white;
}
#c {
    background-color: rgb(0, 255, 255);
}
#p {
    background-color: rgb(255, 0, 255);
    color: white;
}
#o {
    background-color: orange;
}

#r:hover {
    background-color: rgba(255, 0, 0, 0.5);
}
#r:active, .hl {
    background-color: red;
}
#g:hover {
    background-color: rgba(0, 255, 0, 0.5);
}
#g:active, .hl {
    background-color: lime;
}
#b:hover {
    background-color: rgba(0, 0, 255, 0.5);
}
#b:active, .hl {
    background-color: blue;
}
#y:hover {
    background-color: rgba(255, 255, 0, 0.5);
}
#y:active, .hl {
    background-color: yellow;
}
#bl:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#bl:active, .hl {
    background-color: black;
}
#w:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#w:active, .hl {
    background-color: white;
}
#p:hover {
    background-color: rgba(255, 0, 255, 0.5);
}
#p:active, .hl {
    background-color: fuchsia;
}
#c:hover {
    background-color: rgba(0, 255, 255, 0.5);
}
#c:active, .hl {
    background-color: cyan;
}
#o:hover {
    background-color: rgba(255, 166, 0, 0.5);
}
#o:active, .hl {
    background-color: rgb(255, 115, 0);
}

.options button:hover {
    background-color: rgba(240, 255, 255, 0.75);
}

#numberInput {
    font-family: arial;
    text-align: center;
    font-size: 1.5rem
}

.options button:active, .hl {
    background-color: white;
}

#current {
    width: 5vh;
    height: 5vh;
    background-color: black;
    border-radius: 100%;
    border: 1px solid white;
}

#new {
    display: flex;
    width: 100%;
    gap: 0.25vh
}

#numberInput {
    max-width: 3.5vh;
}

.board .cell {
    width: calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));
}

.board:hover {
    cursor: crosshair;
}

#rainbow {
    color: white;
    font-weight: 900;
    font-size: 2rem;
    -webkit-animation: colorShift 8s ease-in-out infinite alternate;
    -moz-animation: colorShift 8s ease-in-out infinite alternate;
    animation: colorShift 8s ease-in-out infinite alternate;
    text-shadow: 00 2px black;
}

@keyframes colorShift {
    0% { background-color: rgb(255, 0, 0); }
    17% { background-color: rgb(255, 174, 0); }
    34% { background-color: rgb(51, 255, 0); }
    51% { background-color: rgb(0, 255, 255); }
    68% { background-color: rgb(38, 0, 255); }
    85% { background-color: rgb(140, 0, 255); }
}

#rainbow:active, .hl {
    color: black;
    transform: scale(1.2);
}
